
<nav class="side-menu">
    <ul class="nav-links">
        <li>
            <button>All</button>
        </li>
        <li>
            <button id="watersports-button">Watersports</button>
        </li>
        <li>        
            <button id="soccer-button">Soccer</button>
        </li>
        <li>
            <button id="boardgames-button">Boardgames</button>
        </li>
    </ul>
</nav>

<section class="content">
    <ul class="items">
    </ul>
</section>

