
<nav class="side-menu">
    <ul class="nav-links">
        <li>
            <a href="/"><button>All</button></a>
        </li>
        <li>
            <a href="?category=watersports"><button>Watersports</button></a>
        </li>
        <li>
            <a href="?category=soccer"><button>Soccer</button></a>
        </li>
        <li>
            <a href="?category=boardgames"><button>Boardgames</button></a>
        </li>
    </ul>
</nav>

<section class="content">
    <ul class="items">
    </ul>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/script.js"></script>