<form id="loginform" method="POST" action="/login">
    <label class="values"> UserName
    <input type="text" id="name" name="name">
    </label>
    <p>
    <label class="values">PassWord
    <input type="password" id="password" name="password">
    </label>
   </p>
   <p>
    <button id="submit">Submit</button>
</p>
    </form>
    



