<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sansita:wght@800&display=swap"
      rel="stylesheet"
    />
    <link href="styles/app.css" rel="stylesheet" />
    <title>Sports Store</title>
  </head>
  <body>
    <div class="container">
      <header class="shared header">
        <h1>Sports Store</h1>
      </header>

      <div class="login">
        <button id="signup-button" class="signup-button">
          <a href="signup">Sign up</a>
        </button>
      </div>

      {{{body}}}

      <footer class="shared footer">
        <h2>Contact us</h2>
        <ul>
          <li>
            <a href="mailto:sportsstore@store.com">sportsstore@store.com</a>
          </li>
          <li>
            <a href="tel:+01-780-555-5555">780-555-5555</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
