:root {
  font-size: 16px;

  --med-size: 1em;
  --small-size: calc(var(--med-size) / 2);
  --tiny-size: calc(var(--small-size) / 2);
  --large-size: calc(var(--med-size) * 2);
  --huge-size: calc(var(--med-size) * 3);

  --med-border-radius: 0.4em;
  --large-border-radius: calc(var(--med-border-radius) * 2);

  --black: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #fff;

  /* Bootstrap buttons*/
  --primary-button: #337ab7;
  --success-button: #5cb85c;
  --info-button: #5bc0de;
  --warning-button: #f0ad4e;
  --danger-button: #d9534f;

  /* Bootstrap background colors */
  --primary-background: #337ab7;
  --success-background: #dff0d8;
  --info-background: #d9edf7;
  --warning-background: #fcf8e3;
  --danger-background: #f2dede;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4 {
  font-family: "Sansita", serif;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.intro {
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
}

* {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header account"
    "nav items items"
    "footer footer footer";
  row-gap: 1rem;
}

.header {
  grid-area: header;
  background-color: var(--black);
  color: var(--white);

  padding: var(--med-size);
}

.login {
  grid-area: account;
  background-color: var(--black);
  color: var(--white);
}

.login button {
  background-color: var(--primary-button);
  padding: var(--small-size) var(--med-size);
  border-radius: var(--med-border-radius);
}

.login a {
  color: var(--white);
}

.side-menu {
  grid-area: nav;
}

.content {
  grid-area: items;
}

.footer {
  grid-area: footer;
}

.signup-button {
  padding: 0.67rem 1rem;
  margin: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--med-size);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "image name price"
    "image description cart-button";
  margin-top: 1rem;
}

.items li img {
  grid-area: image;
  height: 100px;
  width: 100px;
}

.items li h2 {
  grid-area: name;
}

.items li span {
  grid-area: price;
}

.items li p {
  grid-area: description;
}

.items li button {
  grid-area: cart-button;
}
